* {
    padding: 0 auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
}

#wrapper {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

#header {
    background: repeat-x grey;
    height: 100px;
    width: 100%;
    padding: 0 50px;
}

.logo img {
    float: left;
}

.navigasi ul {
    margin-top: px;
    list-style: none;
    padding-left: 750px;

}

.navigasi ul li {
    float: left;
    padding: 40px 30px;
}

.navigasi ul li a {
    color: #ffffff;
    font-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}